services:
  vscode:
    build:
      context: ..
      dockerfile: docker/Dockerfile.base
      args:
        INSTALL_DOCKER_DAEMON: "false"
        ENTRYPOINT_MODE: "DooD"
    image: vscode-wslg-dood
    shm_size: '1gb' # Más memoria compartida
    environment:
      - DISPLAY
      - WAYLAND_DISPLAY
      - XDG_RUNTIME_DIR=/mnt/wslg/runtime-dir
      - PULSE_SERVER
      - VSCODE_EXTENSIONS_PROFILE
      #- ELECTRON_OZONE_PLATFORM_HINT=x11 # forzar X11
      - BROWSER=surf
    volumes:
      # Workspace del proyecto
      - ${PROJECT_DIR}:/workspace

      # Perfil montado en home (solo si está definido)
      - ${PROFILE_DIR}:/home/dev/vsc-wslg-${VSCODE_EXTENSIONS_PROFILE}-profile:ro

      # Volúmenes WSLg para GUI
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /mnt/wslg:/mnt/wslg

      # Docker socket para DooD
      - /var/run/docker.sock:/var/run/docker.sock

      # Persistencia de extensiones y configuración
      # COMPARTIDOS entre TODOS los contenedores para permitir múltiples ventanas VSCode
      # Similar a cómo Windows comparte %APPDATA%\Code entre todas las ventanas
      - ${HOME}/.vscode-wslg/extensions:/home/dev/.vscode
      - ${HOME}/.vscode-wslg/config:/home/dev/.config/Code
    restart: "no"